<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.testdb.demo.mapper.CommentMapper">

<!--    <select id="getCommentList" resultType="com.testdb.demo.entity.letter.Comment">-->
<!--        SELECT commenter_name, nickname, content, comment_time,-->
<!--        avatar.url AS avatarUrl-->
<!--        FROM comment-->
<!--        LEFT JOIN avatar ON commenter_name = avatar.username-->
<!--        WHERE replyId = #{level} And pid = #{motherId}-->
<!--        ORDER BY comment_time ASC-->
<!--    </select>-->

</mapper>