<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title></title>
</head>
<body>
<h1 style="position:absolute; text-align: center; line-height: 300px; width: 100%; font-size: 100px">Hello World</h1>
<div style="position:absolute; text-align: center; height: 100px; line-height: 1200px; width: 100%">
    <a href="http://beian.miit.gov.cn/" target="_blank" rel="nofollow">鄂ICP备20004798号</a>
</div>

</body>
</html>
<!--.div_foot {-->
<!--position: absolute;-->
<!--height: 50px;-->
<!--text-align: center;-->
<!--line-height: 50px;-->
<!--width: 100%;-->
<!--}-->