<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title></title>
</head>
<body>
<h1 style="position:absolute; text-align: center; line-height: 300px; width: 100%; font-size: 100px; font-family: 楷体">风软山川河海 聆听世间沉浮</h1>
<h2 style="position:absolute; text-align: center; line-height: 700px; width: 100%; font-size: 50px">听风 后台服务</h2>
<div style="position:absolute; text-align: center; height: 100px; line-height: 1200px; width: 100%">
    <a href="http://beian.miit.gov.cn/" target="_blank" rel="nofollow">鄂ICP备20004798号</a>
</div>

</body>
</html>